/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.btn-login{
		margin-left: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.btn-login{
		color: #99c50a;
		background-color: transparent;
		border:none;
		margin: 0;
		text-align: left;
		padding: 10px 15px;
	}
	.btn-login:hover{
		color: #8f8f8f;
	}
	.navbar-right {
    	padding-top: 0;
	}
	.item{
		min-height: 370px;
	}
	.item:first-child{
		padding: 40px 0;
	}
	.carousel_caption{
		font-size: 30px;
	}
	.carousel_caption + span{
		font-size: 20px;
	}
	.nav-tabs a span{
		font-size: 20px;
	}
	.tabs-text{
		text-align: center;
	}
	.tabs-text h3{
		font-size: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.carousel-control{
		bottom: 20px;
	}
	.presentation h2{
		font-size: 24px;
		line-height: 38px;
	}
	.nav-tabs a span{
		font-size: 18px;
	}
	.nav-tabs a span:first-child{
		display: block;
		margin: 0 auto 20px;
	}
	.portfolio{
	background: linear-gradient(to top, #e2f8ff 0%, #e2f8ff 50%, #f5f9eb 50%,#f5f9eb 100%);
	background: -webkit-linear-gradient(top, #e2f8ff 0%, #e2f8ff 50%, #f5f9eb 50%,#f5f9eb 100%);
	}
	.portfolio_picture,
	.portfolio_text{
		display: block;
		text-align: center;
		width: 100%;
	}
	.featured-wrap{
		padding: 20px 0 0;
	} 
	.featured-wrap h4{
		text-align: center;
	}
	.featured-wrap .portfolio-but.featured-but{
		float: none !important;
		display: block;
		margin: 0 auto 20px;
	}
	.featured-project{
		margin: 0 auto 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.item{
		min-height: 300px;
	}
	.carousel_caption{
		font-size: 22px;
	}
	.carousel_caption + span{
		font-size: 18px;
	}
	section:nth-child(n){
		padding: 40px 0 40px 0;
	}
	.presentation-text{
		padding: 0;
		font-size: 16px;
	}
	.nav-tabs > li a span:last-child{
		display: none;
	}
	.nav-tabs a span{
		font-size: 15px;
	}
	.nav-tabs a span:first-child{
		width: 33px;
		height: 33px;
		font-size: 15px;
		line-height: 33px;
	}
	.presentation h2,
	.review h2{
		font-size: 20px;
		line-height: 24px;
	}
	.review_wraper{
    	background-color: #d7d9db;
	}
	.review_wraper:after{
		border-left: 20px solid #d7d9db;
    	border-top: 20px solid #d7d9db;
	}
	.review_people{
		padding-left: 0;
		padding-right: 0;
	}
	br{
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
