.content{
	width:100%;
	height:500px;
	padding:20px;
}

.product{
	width:100%;
	height:500px;
	background:white;
}

td{
	width:100px;
	height:30px;
}	

.user{
	float:right;
	color:silver;
}

.logout{
	float:right;
	margin-left:10px;
}

.topline{
	width:100%;
	background:#151414;
	padding:10px;
	height:50px;
}

h3{
	background:#B2ADAD;
}

table{
	width:100%;
}

#tdname{
	width:42%;
}

#tdlink{
	width:42%;
}

#conf{
	width:16%;
	min-width:100px;
}

#conf img{
	width:30px;
	height:30px;
}

.cats a{
	color:black;
}

.prodimg img{
	width:70px;
	height:70px;
}

thead th{
	background:DarkGrey;
}

tr:nth-child(odd){
	background:LightGray;
}

tr:nth-child(even){
	background:Lavender;
}

.logo,.header{
	width:100%;
	height:150px;
	background:LightGray;
}

.logo_img,.header_img{
	width:100px;
	height:100px;
}

.logo_img img,.header_img img{
	max-width:100px;
	max-height:100px;
}

.left{
	float:left;
	width:50%;
	padding:20px;
}

.right{
	float:right;
	width:50%;
	padding:20px;
}

.addspan{
	color:black;
	font-size:20px;
	margin-bottom:40px;
}

.addspan img{
	width:30px;
	height:30px;
}

td img{
	width:40px;
	height:40px;
	cursor:pointer;
}

.logout img{
	width:30px;
	height:30px;
}

.user img{
	width:30px;
	height:30px;
}

input[type="submit"]{
	margin-top:10px;
}

#img img{
	height:100px;
	width: 200px;

}

