*::-webkit-input-placeholder {
	color: #212121;
	opacity: 1;
}
*::-moz-placeholder {
	color: #212121;
	opacity: 1;
}
*::-moz-placeholder {
	color: #212121;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #212121;
	opacity: 1;
}
body {
	font-family: "OpenSansRegular";
	position: relative;
}
button{
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
}
.hover-ef{
	transition: all 500ms ease;
	position: relative;
}
.hover-ef:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	background: rgba(255,255,255,0.3);
	transition: all 500ms ease;
}
.hover-ef:hover{
	color:#fff;
}
.hover-ef:hover:before {
	width: 100%;
}
a,a:hover,a:visited{
	text-decoration: none;
}
/*CUSTOMIZER BOOTSTRAP*/
.navbar {
    border-radius:0;
    min-height: 85px;
    margin-bottom: 0;
}
.navbar-collapse{
	min-height: 85px;
}
.navbar-right{
	padding-top: 19px;
}
.navbar-toggle{
	background-color: #f0f0f0;
	margin-top: 26px;
}
.navbar-toggle .icon-bar{
	background-color: rgba(173,209,54,1);
}

.navbar-brand img{
	max-width:250px;
	max-height:70px;
}

.navbar-brand{
	height: auto;
	padding-top: 20px;
}
.nav > li > a{
	font-family: "OpenSansSemiBold";
	font-size:13.2px; 
	color:#8f8f8f;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	transform: translateZ(0);
-webkit-transform: translateZ(0);	
-webkit-backface-visibility: hidden;	
-moz-osx-font-smoothing: grayscale;
}
.nav > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: rgba(173,209,54,1);
  height: 1px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.nav > li > a:hover:before, 
.nav > li > a:focus:before, 
.nav > li > a:active:before {
  left: 0;
  right: 0;
}
.nav > li > a:hover, 
.nav > li > a:focus{
	background-color: transparent;
	color:#99c50a;
}
.item{
	min-height: 570px;
	background:#f0f0f0 url(../img/header-bg.jpg) center top no-repeat;
	background-size: cover;
}
.item:first-child{
	padding: 158px 0 0 0;
}
.carousel-control {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 45px;
    width: 15%;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    right: 1px;
}
.carousel-control.left{
	right: 60px;
}
.carousel-control span{
	color: #fff;
	opacity: 1;
	transition: all 300ms ease;
}
.carousel-control span:hover{
	color:rgba(173,209,54,1);
}
/*END CUSTOMIZER BOOTSTRAP*/
/*HEADER*/
.logo img{
	max-width: 214px;
}
.btn-login{
	font-family: "OpenSansSemiBold";
	background-color: rgba(173,209,54,.81);
	color:#fff;
	font-size:13.2px;
	border-radius: 20px;
	height: 37px;
	width: 100px;
	border:none;
	margin-left: 76px;
}
.btn-login:before {
	border-radius: 20px;
	height: 37px;
}
.carousel_caption,
.carousel_caption + span{
	color:#fff;
	text-align: center;
	display: block;
}
.carousel_caption{
	font-family: "OpenSansSemiBold";
	font-size: 49.2px;
	margin: 0 0 20px 0;
}
.carousel_caption + span{
	font-size: 35.2px;
	margin: 0 0 47px 0;
}
.header-btn{
	font-family: "OpenSansSemiBold";
	font-size: 19.2px;
	display: block;
	margin: 0 auto;
	background-color: #99c50a;
	max-width: 254px;
	width: 100%;
	height: 73px;
	line-height: 73px;
	color:#fff;
	text-align: center;
	border-radius: 10px;
	position: relative;
}
.header-btn:before {
	height: 73px;
	border-radius: 10px;
	margin: 0 0 170px 0;
}
/*END HEADER*/
/*PRESENTATION*/
.presentation{
	padding: 99px 0 110px 0;
	text-align: center;
}
.presentation h2{
	font-family: "OpenSansSemiBold";
	font-size: 31.2px;
	line-height: 50px;
	color:#515151;
	text-transform: uppercase;
	margin: 36px 0 52px 0;
}
.presentation-text{
	font-size: 19.2px;
	color:#515151;
	padding: 0 40px;
	margin:  0 0 46px 0;
}
/*END PRESENTATION*/
/*RADIOTAB*/
.radiotab{
	padding:  0 0 65px 0;
}
.tab-content{
	padding: 40px 0 40px 0;
}
.nav-tabs li{
	width: 33.33%;
}
.nav-tabs > li > a,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	border:none;
}
.nav-tabs > li.active > a:before{
	display: none;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
	border-bottom:1px solid #add136;
}
.nav-tabs > li > a{
	padding: 0 15px 34px;
}
.nav-tabs a span{
	display: inline-block;
	font-family: "OpenSansLight";
	font-size: 33.2px;
	vertical-align: middle;
}
.nav-tabs a span:first-child{
	width: 43px;
	height: 43px;
	border-radius: 50%;
	background-color:#5f5f5f;
	color:#fff;
	font-size: 20.19px;
	line-height: 43px;
	font-family: "OpenSansSemiBold";
	text-align: center;
	margin: 0 30px 0 0;
}
.nav-tabs li.active a span:first-child,
.nav-tabs li:hover a span:first-child{
	background-color:#add136;
}
.tabs-img {
	padding: 44px 0 0 0;
}
.tabs-img img{
	max-width: 113px;
}
.tabs-text h3{
	color:#add136;
	font-size: 25.2px;
	margin-bottom: 32px;
}
.tabs-text p{
	color:#606060;
	font-size: 17.2px;
}
/*END RADIOTAB*/
/*PORTFOLIO*/
.portfolio{
	background: linear-gradient(to right, #e2f8ff 0%, #e2f8ff 50%, #f5f9eb 50%,#f5f9eb 100%);
	background: -webkit-linear-gradient(left, #e2f8ff 0%, #e2f8ff 50%, #f5f9eb 50%,#f5f9eb 100%);
	padding:40px 0 0;
}
.portfolio_picture,
.portfolio_text{
	display: inline-block;
	vertical-align: middle;
}
.portfolio_picture{
	width: 35%;
}
.portfolio_text{
	width: 65%;
	margin-left: -4px;
}
.portfolio-cap,
.prtfolio-des{
	color:#515151;
}
.portfolio-cap{
	display: inline-block;
	font-family: "MontserratRegular";
	font-size:23.2px;
	margin: 0 0 35px 0;
}
.prtfolio-des{
	font-size:17.2px;
	margin: 0 0 30px 0;
}
.portfolio-but{
	display: inline-block;
	font-family: "OpenSansSemiBold";
	color:#fff;
	font-size:14.84px; 
	width: 187px;
	height: 51px;
	line-height: 51px;
	border-radius: 8px;
	background-color: #25a5d1;
	text-align: center;
	margin-bottom: 40px;
}
.portfolio-but:before {
	border-radius: 8px;
	height: 51px;
}
.portfolio-two .portfolio-but{
	background-color: #add136;
}
/*END PORTFOLIO*/
/*FEATURED*/
.featured{
	padding: 0 0 50px 0;
}
.featured-wrap{
	padding: 73px 0 60px;
}
.featured-wrap h4{
	font-family: "OpenSansSemiBold";
	font-size: 29.2px;
	color:#515151;
	margin: 0 0 26px 0;
}
.featured_paragraphe{
	font-size: 17.2px;
	color:#8f8f8f;
}
.portfolio-but.featured-but{
	background-color: transparent;
	border:1px solid #b6b6b6;
	color:#515151;
	margin: 33px 0 0 0;
}
.portfolio-but.featured-but:before{
	background-color: rgba(173,209,54,0.5);
}
.featured-project{
	border:1px solid #e5e5e5;
	border-radius: 10px;
	overflow:hidden;
	max-width: 350px;
	width: 100%;
}
.project-picture-triagle{
	background-color: #add136;
	height: 78px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	-webkit-transform: translate(-160px, -25px)  rotate(-40deg);
	-ms-transform: translate(-160px, -25px) rotate(-40deg);
	    transform: translate(-160px, -25px) rotate(-40deg);
}
.project-picture{
	min-height: 225px;
	position: relative;
}
.featured-project_1 .project-picture{
	background:#e3e3e3 url(../img/picture-1.jpg) center bottom no-repeat;
}
.featured-project_2 .project-picture{
	background:#e3e3e3 url(../img/picture-2.jpg) center bottom no-repeat;
}
.featured-project_3 .project-picture{
	background:#e3e3e3 url(../img/picture-1.jpg) center bottom no-repeat;
}
.project-picture-triagle span{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 100%;
	color:#fff;
	font-family: "MontserratRegular";
	font-size: 14.55px;
}
.project-picture-but{
	position: absolute;
	right:15px;
	bottom: 20px; 
	background-color:#26a6d1;
	width: 140px;
	height: 35px;
	line-height: 35px;
	color:#fff;
	font-size: 16.2px;
	text-align: center;
	border-radius: 5px;
}
.project-picture-but:before{
	height: 35px;
	border-radius: 5px;
}
.project-picture-but span{
	font-family: "OpenSansBold";
}
.project-text{
	padding: 23px 23px;
}
.project-cap,
.project-des{
	color:#484848;
}
.project-cap{
	display: inline-block;
	font-family: "OpenSansSemiBold";
	font-size: 17.2px;
	margin: 0 0 11px 0;
}
.project-des{
	font-size:13.2px;
	line-height: 1.6;
	color:#484848;
	margin: 0 0 42px 0;
}
.featured-project .progress{
	border-radius: 7px;
	height: 14px;
	margin-bottom: 14px;
}
.featured-project .progress-bar{
	background-color: #add136;
}
.progress-text span{
	font-family: "OpenSansSemiBold";
	font-size: 13.2px;
	color:#8d8d8d;
}
.featured-project hr{
	width: 100%;
	height: 1px;
	background-color:#d6d6d6;
	margin-top: 17px;
}
.featured-project hr+a{
	font-family: "OpenSansSemiBold";
	font-size: 15.2px;
	color:#484848;
	transition: all 500ms ease;
}
.featured-project .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 10px solid transparent;
    border-right: 10px  solid transparent;
    border-left: 14px  solid #add136;
    border-bottom: 10px  solid transparent;
	transition: all 500ms ease;
}
.featured-project hr+a:hover .caret{
 	border-left: 14px  solid #26a6d1;
}
.featured-project hr+a:hover{
	color:#26a6d1;
}
/*END FEATURED*/
/*REVIEW*/
.review{
	background:#d6d6d6 url(../img/bg-bottom.png) center bottom no-repeat;
	background-size: cover;
	min-height: 600px;
}
.review h2{
	font-family: "OpenSansSemiBold";
	font-size: 39.2px;
	color:#9ec02d;
	margin-bottom: 44px;
}
.review h2+p{
	font-size: 19.2px;
	color:#949494;
	margin: 0 0 20px 0;
}
.review .row:first-child{
	margin:  0 0 50px 0;
}
.review_wraper{
	background-color: #fff;
	padding: 26px 40px 26px 35px;
	border-radius: 10px;
	position: relative;
}
.review_wraper::after {
    content: ''; 
    position: absolute; 
    left: 80px; 
    bottom: -39px;  
    border: 20px solid transparent;
    border-left: 20px solid #fff; 
    border-top: 20px solid #fff; 
   }
.review_cap{
	font-size: 21.2px;
	color:#9ec02d;
	margin:  0 0 20px 0;
	display: inline-block;
}
.review_text{
	font-size: 13.2px;
	color:#848484;
}
.review_people{
	padding: 46px 20px 20px 40px;
}
.review_people img{
	border-radius:10px;
	margin-right: 15px;
}
.review_people  span{
	font-family: "MontserratRegular";
	font-size: 15.2px;
	color:#494949;
}
/*END REVIEW*/
/*PARTNERS*/
.partners{
	padding: 40px 0;
}
.partners-wraper{
	display: table;
	width: 100%;
	background-color: #fff;
}
.partners-wraper a{
	display: table-cell;
	vertical-align: middle;
	width: 14.28%;
}
.partners-wraper a img{
	max-width: 90%;
	margin: 0 auto;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
    
}
.partners-wraper a:hover img{
	-webkit-filter: grayscale(0%);
	        filter: grayscale(0%);
	        -webkit-filter:none;
	                filter:none;
}
/*END PARTNERS*/
/*FOOTER*/
.footer{
	border-top:1px solid #ededed;
	padding:20px 20px;
}
.footer p,
.footer a{
	color:#848484;
	font-size: 13.2px;
}
.footer a:hover{
	color:#add136;
}
/*END FOOTER*/